PORT=3000
NODE_ENV=development
REACT_APP_BACKEND_URL=http://localhost:8080

#The base URL for all locations. If your app is served from a sub-directory on your server, you'll want to set
#this to the sub-directory. A properly formatted basename should have a leading slash, but no trailing slash.
REACT_APP_ROUTER_BASE_NAME=